pluginManagement {
    repositories {
        google()
        mavenCentral()
        gradlePluginPortal()
    }
}

dependencyResolution {
    repositories {
        mavenCentral()
    }
}

rootProject.name = "{{ project_name }}"
